In [1]:
import pandas as pd

In [28]:
caller = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'], 'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
other  = pd.DataFrame({'Key': ['K0', 'K1', 'K2'], 'B': ['B0', 'B1', 'B2']})

In [31]:
caller.set_index('Key').join(other.set_index('Key'))

      A    B
Key
K0   A0   B0
K1   A1   B1
K2   A2   B2
K3   A3  NaN
K4   A4  NaN
K5   A5  NaN

In [ ]:
caller.set_index('Key').join(other.set_index('Key'))