# Python - Data Structure

## List

In [1]:
#to create list using braces
numList = [1,2,3,4,5,6,7,8,9]

#creating list using List Keyword
mixedList = list()

In [2]:
#to add element in list
mixedList.append(True)
mixedList.append('Abhishek')
mixedList.append(1000)
mixedList.append('Verma')

In [3]:
print(mixedList)

[True, 'Abhishek', 1000, 'Verma']

In [4]:
print(numList)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
mixedList

[True, 'Abhishek', 1000, 'Verma']

In [6]:
#to remove item from list
numList.pop(-1)

9

In [7]:
numList.pop(1)

2

In [8]:
numList[1] = 1

In [9]:
numList[1]

1

In [10]:
type(mixedList[0])

bool

## Tuple

In [11]:
mytupel = (1,2,3,4,5)

In [12]:
mytupel[1]

2

In [13]:
type(mytupel)

tuple

In [14]:
mytupel1 = (1,2,3,4)

In [15]:
mynewlist = mytupel + mytupel1

In [16]:
print(mynewlist)

(1, 2, 3, 4, 5, 1, 2, 3, 4)

In [17]:
mynewlist.count(1)

2

In [18]:
mynewlist.index(5)

4

## Dictionary

In [19]:
myDict = dict()

In [20]:
## {key:Value,key:Value}

In [21]:
myDict =  {'Name':'abhishek','username':'abhishekverma','Name':'abhish','Abhishek':None}

In [22]:
myDict.update({'A':'Value','B':'Value2','C':None,'A':None})

In [23]:
myDict.keys

In [24]:
for key in myDict.keys():
    print(key)

Name
username
Abhishek
A
B
C

In [25]:
for value in myDict.values():
    print(value)

abhish
abhishekverma
None
None
Value2
None

In [26]:
for key,value in myDict.items():
    print(key,value)

Name abhish
username abhishekverma
Abhishek None
A None
B Value2
C None

## Set

In [27]:
A = set([1,2,3,4,5,6,3,4,1,2])
B = set([1,2,3,4,5,9,8,7,6,8])

In [28]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
A.intersection(B)

{1, 2, 3, 4, 5, 6}

In [30]:
A

{1, 2, 3, 4, 5, 6}

In [31]:
B

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
A.add('A')

In [33]:
A

{1, 2, 3, 4, 5, 6, 'A'}

In [34]:
A = {1,2}

In [35]:
type(A)

set

In [36]:
c = {'c','d','e'}

In [37]:
A.isdisjoint(c)

True

In [38]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## OOPs

* Instance methods need a class instance and can access the instance through self.
* Class methods don’t need a class instance. They can’t access the instance (self) but they have access to the class itself via cls.
* Static methods don’t have access to cls or self. They work like regular functions but belong to the class’s namespace.
* Static and class methods communicate and (to a certain degree) enforce developer intent about class design. This can have maintenance benefits.

In [39]:
#case 1
class Employee():

    noofemployee = 0    #class variable
    raise_amount = 1.04
    
    def __init__(self,first,last,pay):
        self.first = first #instance variable
        self.last  = last
        self.pay   = pay
        self.email = first + '.' + last + '@company.com'
        Employee.noofemployee += 1

In [40]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              'noofemployee': 0,
              'raise_amount': 1.04,
              '__init__': <function __main__.Employee.__init__(self, first, last, pay)>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [41]:
emp1 = Employee('Abhishek','Verma',5000000)
emp2 = Employee('Shubham','Sanwaria',4000000)

In [42]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              'noofemployee': 2,
              'raise_amount': 1.04,
              '__init__': <function __main__.Employee.__init__(self, first, last, pay)>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [43]:
emp1.__dict__

{'first': 'Abhishek',
 'last': 'Verma',
 'pay': 5000000,
 'email': 'Abhishek.Verma@company.com'}

In [44]:
emp1.email

'Abhishek.Verma@company.com'

In [45]:
emp2.raise_amount

1.04

In [46]:
emp1.raise_amount = 1.06

In [47]:
emp1.raise_amount

1.06

In [48]:
emp2.raise_amount

1.04

In [49]:
Employee.raise_amount

1.04

In [50]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              'noofemployee': 2,
              'raise_amount': 1.04,
              '__init__': <function __main__.Employee.__init__(self, first, last, pay)>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [51]:
emp1.__dict__

{'first': 'Abhishek',
 'last': 'Verma',
 'pay': 5000000,
 'email': 'Abhishek.Verma@company.com',
 'raise_amount': 1.06}

In [52]:
emp2.__dict__

{'first': 'Shubham',
 'last': 'Sanwaria',
 'pay': 4000000,
 'email': 'Shubham.Sanwaria@company.com'}

In [53]:
Employee.noofemployee

2

In [54]:
#case 2
class Employee():

    noofemployee = 0    #class variable
    raise_amount = 1.04
    
    def __init__(self,first,last,pay):
        self.first = first #instance variable
        self.last  = last
        self.pay   = pay
        self.email = first + '.' + last + '@company.com'
        Employee.noofemployee += 1 

    def fullname(self):
        return('{} {}'.format(self.first,self.last))

    def empraise(self):
        self.pay = int(self.pay * self.raise_amount)

In [55]:
emp1 = Employee('Abhishek','Verma',5000000)
emp2 = Employee('Shubham','Sanwaria',4000000)

In [56]:
emp1.fullname()

'Abhishek Verma'

In [57]:
Employee.fullname(emp2)

'Shubham Sanwaria'

In [58]:
emp1.raise_amount = 1.08

In [59]:
emp1.pay

5000000

In [60]:
emp1.empraise()

In [61]:
emp1.pay

5400000

In [62]:
emp2.pay

4000000

In [63]:
emp2.empraise()

In [64]:
emp2.pay

4160000

In [65]:
emp1.raise_amount

1.08

In [66]:
Employee.raise_amount

1.04

In [67]:
class Employee():

    noofemployee = 0    #class variable
    raise_amount = 1.04
    
    def __init__(self,first,last,pay):
        self.first = first #instance variable
        self.last  = last
        self.pay   = pay
        self.email = first + '.' + last + '@company.com'
        Employee.noofemployee += 1 

    def fullname(self):
        return('{} {}'.format(self.first,self.last))

    def empraise(self):
        self.pay = int(self.pay * self.raise_amount)

    @classmethod
    def set_raise_amt(cls, amount):
        cls.raise_amount = amount

    @classmethod
    def from_string(cls, emp_str):
        first, last, pay = emp_str.split('-')
        return(cls(first, last, pay))

In [68]:
emp1 = Employee.from_string('Abhishek-Verma-120000')

In [69]:
emp1.fullname()

'Abhishek Verma'

In [70]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              'noofemployee': 1,
              'raise_amount': 1.04,
              '__init__': <function __main__.Employee.__init__(self, first, last, pay)>,
              'fullname': <function __main__.Employee.fullname(self)>,
              'empraise': <function __main__.Employee.empraise(self)>,
              'set_raise_amt': <classmethod at 0x7fb32826b8d0>,
              'from_string': <classmethod at 0x7fb32826b940>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [71]:
Employee.set_raise_amt(1.05)

In [72]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              'noofemployee': 1,
              'raise_amount': 1.05,
              '__init__': <function __main__.Employee.__init__(self, first, last, pay)>,
              'fullname': <function __main__.Employee.fullname(self)>,
              'empraise': <function __main__.Employee.empraise(self)>,
              'set_raise_amt': <classmethod at 0x7fb32826b8d0>,
              'from_string': <classmethod at 0x7fb32826b940>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [73]:
class Employee():

    noofemployee = 0    #class variable
    raise_amount = 1.04
    
    def __init__(self,first,last,pay):
        self.first = first #instance variable
        self.last  = last
        self.pay   = pay
        self.email = first + '.' + last + '@company.com'
        Employee.noofemployee += 1 

    def fullname(self):
        return('{} {}'.format(self.first,self.last))

    def empraise(self):
        self.pay = int(self.pay * self.raise_amount)

    @classmethod
    def set_raise_amt(cls, amount):
        cls.raise_amount = amount

    @classmethod
    def from_string(cls, emp_str):
        first, last, pay = emp_str.split('-')
        return(cls(first, last, pay))
    
    @staticmethod
    def is_adult(age):
        return(bool(age>18))

In [74]:
Employee.is_adult(23)

True

In [75]:
class Employee():

    noofemployee = 0    #class variable
    raise_amount = 1.04
    
    def __init__(self,first,last,pay):
        self.first = first #instance variable
        self.last  = last
        self.pay   = pay
        self.email = first + '.' + last + '@company.com'
        Employee.noofemployee += 1 

    def fullname(self):
        return('{} {}'.format(self.first,self.last))

    def empraise(self):
        self.pay = int(self.pay * self.raise_amount)

    @classmethod
    def set_raise_amt(cls, amount):
        cls.raise_amount = amount

    @classmethod
    def from_string(cls, emp_str):
        first, last, pay = emp_str.split('-')
        return(cls(first, last, pay))

    @staticmethod
    def is_adult(day):
        return(bool(age>18))

In [76]:
class Developer(Employee):
    raise_amount = 1.10

    def __init__(self,first,last,pay, pro_lang):
        super().__init__(first,last,pay)
        self.pro_lang = pro_lang

In [77]:
class Manager(Employee):
    def __init__(self, first, last, pay, employees=None):
        super().employees

In [78]:
dev1 = Developer('Abhishek','Verma',120000,'Python')

In [79]:
dev1.pay

120000

In [80]:
dev1.pro_lang

'Python'

In [81]:
dev1.empraise()

In [82]:
dev1.pay

132000